.iso {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
}

.default {
    position: initial;
}

.newChap {
    font: arial;
    font-size: 3cm;
    font-weight: 100;
    align-content: center;
}

.newChapNumb {
    font: arial;
    font-size: 2.5cm;
    font-weight: 100;
    align-content: center;
}